<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
			http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

    <bean id="employee" class="com.siliconspectra.demo.Employee" >
        <property name="id" value="1"></property>
        <property name="name" value="scott"></property>
    </bean>

    <bean id="employee1" class="com.siliconspectra.demo.Employee">
        <constructor-arg value="2" index="0"/>
        <constructor-arg value="Ray" index="1"/>
    </bean>

    <bean id="salary" class="com.siliconspectra.demo.Salary" scope="singleton">
        <property name="id" value="1"></property>
        <property name="employee" ref="employee"></property>
    </bean>
</beans>